html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d7e4e9;
	overflow-x: hidden;
	padding: 0;

}
.welcome
{
	background-color: aliceblue;
	width : 90px;
	height: 30px;

}
.welcome a
{
	padding: 10px;
	margin-top: -5px;
	position: relative;
	color: black;
	font-size: medium;
	font-weight: bolder;
}
.welcome:hover
{
	background-color: aqua;
}

.container            /* top navigation bar*/
{    
	height: 30px;
	background-color: #1b1b1b;

}
.container ul.menu_1
{
float: right;
position: relative;
top: -45px;
right: 10px;

}
.container ul.menu_1 >  li
{
 display: inline-block;
 list-style: none;
 padding: 5px;
 color: aliceblue;

 }a{
	color: rgb(245, 237, 237);
	font-size: 13px;


 }
.container ul.menu_1 a:hover
{
background-color: aliceblue;
color: black;
font-weight: 800;
}
#toggle,label           
{
	display: none;
}
.nav  img
{
	pointer-events: none;
	height: 50px;
	position: relative;
	padding: 10px;
	margin-left: 10px;
}
.nav           /* second navigation bar */
{
	height: 70px;
	background-color: #F3F3F3;
	
	margin-top: 10px;
	

}.nav .menu { 
display: block;
position: relative;
left: 80px;
bottom: 50px;

    
}
.nav .menu a{
	color: #283747;
	font-size: medium;
	padding: 0.5em;
	font-weight: bolder;
}
.nav .menu a:hover{
background-color:#12232E;
color: aliceblue;

}
@media  screen and (max-width: 750px) /* on less than 700px hamburger menu appers */
 {
    
    .nav label {
        display: block;
        cursor: pointer;
		position: relative;
		float: right;
		top: 22px;
	     right: -210px
    }
    .menu {
        
        width: 30%;
        display: none;
		top: 5px;
	    right: 0px;
		margin-left: 50%;
		z-index: 999;
    }
    .menu a {
		background-color: rgb(222, 224, 222);
        display: block;
        border-bottom: 1px solid #EAEAEB;
		display: none;
        margin: 0;
		position: relative;
		right: 0px;
		text-align: center;
		
    }
    #toggle:checked ~ .menu a {
        display: block;
		

    }
  
    
}



 .cart_icon  img                        /* cart */
{   position: relative;
	float: right;
	height: 25px;
	bottom: 47px;
	right: 45px;
	
	
}
.search  a label                      /* search icon */
{   position: relative;
	display: inline;
	float: right;
	height: 10px;
	top: -48px;
	
	right: 50px;
	cursor: pointer;
	margin-bottom: 10px;
	

}


@media  screen and (min-width: 750px)
 {
	.search  a label                       /* search icon */
	{
 right: 10px;
 top: -45px;

	}
	.cart_icon  img                        /* cart */
{   position: relative;
	float: right;
	height: 25px;
	bottom: 40px;
	right: 45px;
	
	
}
   

 }
@media  screen and (min-width: 750px)
 { .search 
	{   position: relative;
		right:10px;
        top: 5px;   
	
	}
}
@media  screen and (min-width: 750px)
 { .cart_icon
	{   position: relative;
		right:-40px;
		top: 2px;
		
	}
}

.searchbox

{  
	display: none;
}
.searchbox input

{  
	width:100%;
	height:30px;
	position: relative;
	bottom: 23px;

	
}

#toggle_2:checked ~ .searchbox
{
	display: contents;
}
.slider
{  margin-left: 45px;
	overflow: hidden;
	height: 450px;
	align-items: center;
}
.slider figure div
{
float: left;
width: 20%;
}
.slider figure img{
	width: 100%;
	float: left;
	z-index: 100;
}
.slider figure
{
	position: relative;
	width :500%;
	margin: 0px;
	left : 0;
    animation: 20s slide infinite;


}
@keyframes slide{
0%{
	left:0;
}25%{
	left: -100%;
}50%{
	left:-200%
}
75%{
	left:-300%
}
100%{
	left:-400%
}

}